<ion-view view-title="Agende Salão - Proprietário">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Bem Vindo!</div>
      <div class="item item-body">
        <div>
          Você precisa criar uma conta ou efetuar login para ter acesso aos nossos profissionais. Utilize a mídia social de sua preferência.
        </div>
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-calm" ng-click="login('google')">
        Google+
      </button>
      <button class="button button-calm" ng-click="login('facebook')">
        Facebook
      </button>
    </div>   
  </ion-content>
</ion-view>