<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Agendar Cliente</h1>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="ModalCtrl">
    <div class="list">
      <ion-toggle ng-model="newClient" toggle-class="toggle-calm">Cliente Novo?</ion-toggle>
      <label class="item item-input" ng-if="newClient">
        <i class="icon ion-android-call placeholder-icon" ng-if="isTel"></i>
        <i class="icon ion-email placeholder-icon" ng-if="isEmail"></i>&nbsp;
        <input type="{{type}}" ng-model="event.client" placeholder="Convidar Cliente por Número ou Email"/>
      </label>
      <label class="item item-input" ng-if="newClient">
        <i class="icon ion-person placeholder-icon" ng-if="isTel"></i>
        <input type="text" ng-model="event.name" placeholder="Nome"/>
      </label>
      <label class="item item-input" ng-if="!newClient">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" autocomplete="off" max-selected-items="1" ionic-autocomplete="{onSelect: selectClient}" 
        ng-model="event.name" placeholder="Procurar Cliente Cadastrado"/>        
      </label>
      <label class="item item-input" ng-if="event.owner.email && !newClient">
        <i class="icon ion-email placeholder-icon"></i>&nbsp;
        <span>{{event.owner.email}}</span>
      </label>
      <label class="item item-input" ng-if="event.mobile && !newClient">
        <i class="icon ion-android-call placeholder-icon"></i>&nbsp;
        <span>{{event.mobile}}</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário:</span>
        {{modal.date | date:"dd/MM/yyyy 'às' HH:mm'h'"}}
      </label>
    </div>
    <div class="button-bar">
      <button class="button button-block button-calm" ng-click="schedule()">
        Agendar
      </button>
      <button class="button button-block button-calm" ng-click="close()">
        Cancelar
      </button>
    </div>
  </ion-content>
</ion-modal-view>