<ion-view view-title="Agende Salão - Proprietário">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Cadastro</div>
      <div class="item item-body">
        <div>
          Olá {{user.name}}, é necessário completar seu cadastro para poder receber agendamentos na sua conta.
        </div>
        <div>
          Preencha seus dados pessoais e escolha seus horários de trabalho que serão disponibilizados aos clientes.
        </div>
      </div>
    </div>
    <form name="userData" ng-submit="registry()">
      <div class="list card" ng-if="keys.length > 0">
        <div class="item item-divider">
          Adicionar Horários de trabalho
        </div>

        <label class="item item-input item-select">
          <span class="input-label">Dia</span>
          <select ng-model="day.selected" ng-options="key as value for (key, value) in days">
          </select>
        </label>
        
        <div class="item item-input item-time-content">
          <span class="input-label">Expediente</span>
          <ionic-timepicker input-obj="timeEndObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeEndObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
          <span class="item-time separator">/</span>
          <ionic-timepicker input-obj="timeStartObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeStartObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
        </div>

        <div class="item item-input item-time-content">
          <span class="input-label">Almoço</span>
          <ionic-timepicker input-obj="timeLunchEndObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeLunchEndObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
          <span class="item-time separator">/</span>
          <ionic-timepicker input-obj="timeLunchStartObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeLunchStartObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
        </div>

        <div class="item item-input item-time-content">
          <span class="input-label">Lanche</span>
          <ionic-timepicker input-obj="timeBreakEndObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeBreakEndObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
          <span class="item-time separator">/</span>
          <ionic-timepicker input-obj="timeBreakStartObj" class="item-time">
            <button class="button button-light">
              <standard-time-no-meridian etime='timeBreakStartObj.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>
        </div>

        <button class="button button-block" ng-click="add()" type="button">
          Adicionar
        </button>
      </div>

      <ul class="list card hours" ng-if="schedules.length > 0">
        <li class="item item-divider">Horários adicionados</li>
        <li class="item" ng-repeat="schedule in schedules">
          {{schedule.day | day}} - <standard-time-no-meridian etime="schedule.start"></standard-time-no-meridian> às
          <standard-time-no-meridian etime="schedule.startLunch"></standard-time-no-meridian> /
          <standard-time-no-meridian etime="schedule.endLunch"></standard-time-no-meridian> às
          <standard-time-no-meridian etime="schedule.startBreak"></standard-time-no-meridian> /
          <standard-time-no-meridian etime="schedule.endBreak"></standard-time-no-meridian> às
          <standard-time-no-meridian etime="schedule.end"></standard-time-no-meridian>
        </li>
      </ul>

      <div class="button-bar">
        <button class="button button-calm" type="submit">
          Salvar Informações
        </button>
      </div>
    </form>   
  </ion-content>
</ion-view>