/* Empty. Add your own CSS if you like */
* {
  cursor: url('http://ionicframework.com/img/finger.png'), auto !important;
}

.item-select select {
  top: 1px;
}

.item-time-content {
  display: block;
  padding-right: 10px;
}

.item-time-content .input-label {
  display: inline-block;
  float: left;
}

.inline-block {
  display: inline-block;
}

.item-time {
  position: relative;
  float: right;
  margin: 0 4px;
}

.item-time button {
  min-height: 36px;
  max-height: 36px;
  line-height: 36px;
  padding: 0 10px;
}

.item-input span {
  height: 30px;
  padding-top: 4px;
}

.item-time.separator {
  margin-top: 7px;
}

.list.hours .item strong {
  font-weight: normal
}

.fc-toolbar h2 {
  font-size: 14px;
  margin-top: 6px;
}
.fc button {
  height: auto;
  font-size: 0.8em;
  padding: 0.4em 0.5em;
}
.fc table {
  font-size: 0.9em;
}
/*.fc-agendaWeek-view tr, .fc-agendaDay-view tr {
    height: 25px;
}*/
/*.fc-agenda .fc-agenda-axis {
  width: 60px !important;
  font-size: 125% !important;
}
.fc-event-time {
  padding-top: 3px;padding-bottom: 3px;
}
.fc-agenda-slots td div, .fc-agenda-slots tr {
  height: 50px !important
}*/
.fc-event {
  font-size: inherit;
}

.right {
  position: absolute;
  right: 25px;
}

.input-label.right-align {
  min-width: 27%;
  display: inline-block;
}

.platform-android .action-sheet-cancel {
    display: block !important;
}