<ion-view view-title="Agenda de Profissional">
  <ion-content class="padding">
    <ion-refresher pulling-text="Arraste para recarregar" on-refresh="uiConfig.refresh()">
    </ion-refresher>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{owner.image}}">
        <h2>{{owner.profile.name}}</h2>
        <p>{{owner.profile.neighborhood}}</p>
      </div>
    </div>
    <div ui-calendar="uiConfig.calendar" ng-model="uiConfig.eventSources" calendar="monthly" data-tap-disabled="true"
    on-swipe-up="uiConfig.up()" on-swipe-down="uiConfig.down()" on-swipe-left="uiConfig.left()" on-swipe-right="uiConfig.right()"></div>
  </ion-content>
</ion-view>
